<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTf_8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=yes" />
        <title>FlaskCWG Manager</title>
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mditor/css/mditor.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='puppertino/full.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='mditor/js/mditor.js') }}"></script>
    </head>
    <body style="background: #e3e3e3;">
        <form action="{{ url_for('save_post') }}" method="post">
            <center>
                <a href="/" class="p-form-button options">Back</a>
            </center>
            <br>
            <div class="mditor">
                <div class="head">
                    <div class="toolbar" style="text-align: center; font-style: normal;">
                        <label align="center" style="color: #444; line-height: 2;"><b>Editing {{ edit_type }} post:</b> {{ postdata['title'] }}</label>
                    </div>
                </div>
                <div class="body" style="font-size: 13px; padding: 8px 12px;">
                    <table>
                        <tr>
                            <td>Post type</td>
                            <td>
                                <input id="post-type" name="post-type" type="text" class="p-form-text p-form-no-validate" readonly="" value="{{ edit_type }}">
                            </td>
                        </tr>
                    </table>
                    {% if edit_type == 'blog' %}
                        <table id="blog-fields" border="0" cellpadding="0">
                            <tr>
                                <td>Title</td>
                                <td>
                                    <input id="b_title" name="b_title" type="text" class="p-form-text p-form-no-validate" value="{{ postdata['title'] }}">
                                </td>
                                <td>Summary</td>
                                <td>
                                    <input id="b_summ" name="b_summ" type="text" class="p-form-text p-form-no-validate" value="{{ postdata['summary'] }}">
                                </td>
                                <td>Authors</td>
                                <td>
                                    <input  id="b_authors" name="b_authors" type="text" class="p-form-text p-form-no-validate" placeholder="Comma separated" value="{{ postdata['authors'] }}">
                                </td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>
                                    <input id="b_date" name="b_date" type="text" class="p-form-text p-form-no-validate" value="{{ postdata['date'] }}" readonly="">
                                </td>
                                <td>Tags</td>
                                <td>
                                    <input id="b_tags" name="b_tags" type="text" class="p-form-text p-form-no-validate" placeholder="Comma separated" value="{{ postdata['tags'] }}">
                                </td>
                                <td>Slug</td>
                                <td>
                                    <input id="b_slug" name="b_slug" type="text" class="p-form-text p-form-no-validate" readonly="" placeholder="Autogenerated" value="{{ postdata['slug'] }}">
                                </td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>
                                    <input id="b_category" name="b_category" type="text" class="p-form-text p-form-no-validate" readonly="" value="{{ postdata['category'] }}">
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <table id="faq-fields" border="0" cellpadding="0">
                            <tr>
                                <td>Title</td>
                                <td>
                                    <input id="f_title" name="f_title" type="text" class="p-form-text p-form-no-validate" value="{{ postdata['title'] }}">
                                </td>
                                <td>Tags</td>
                                <td>
                                    <input  id="f_tags" name="f_tags" type="text" class="p-form-text p-form-no-validate" value="{{ postdata['tags'] }}">
                                </td>
                                <td>Slug</td>
                                <td>
                                    <input id="f_slug" name="f_slug" type="text" class="p-form-text p-form-no-validate" readonly="" placeholder="Autogenerated" value="{{ postdata['slug'] }}">
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
            </div>
            <br>
            <div>
                <textarea id="post_content" name="post_content">{{ postdata['content'] }}</textarea>
            </div>
            <br>
            <div class="actions" align="right" style="border: none;">
                <input type="submit" class="p-form-button p-form-send" value="Save" style="cursor: pointer;">
            </div>
        </form>
        <script>
            var textarea = document.getElementById('post_content');
            var mditor = Mditor.fromTextarea(textarea);
        </script>
    </body>
</html>