<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta name="description" content="{{ info['head']['description'] }}">
<meta name="keywords" content="{{ info['head']['keywords'] }}">
<meta name="author" content="{{ info['head']['author'] }}">
<meta name="theme-color" content="{{ info['head']['theme-color'] }}">
<link href="/static/flaskcwg-icon.png" rel="icon">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<script src="https://kit.fontawesome.com/87e809e06c.js" crossorigin="anonymous"></script>
