<div id="sidebar-id" class="off-canvas-sidebar">
    <!-- off-screen sidebar -->
    <ul class="nav">
		<li class="nav-item">
		    <a href="{{path}}">The Why</a>
		</li>
		<li class="nav-item">
		    <a href="{{path}}aim">The Aim</a>
		</li>
		<li class="nav-item">
		    <a href="{{path}}pallets-eco">Pallets-Eco</a>
		</li>
		<li class="nav-item">
		    <a href="{{path}}join">Join</a>
		</li>
		<li class="nav-item">
		    <a href="{{path}}translations">Translation</a>
		</li>
		<li class="nav-item">
		    <a href="{{path}}blog">Blog</a>
		</li>
		<li class="nav-item">
		    <a href="{{path}}members">Members</a>
		</li>
		<li class="nav-item">
		    <a href="{{path}}resources">Curated Resources</a>
		</li>
		<li class="nav-item">
		    <a href="{{path}}faq">FAQs</a>
		</li>
	</ul>
</div>
