<div id="sidebar-id" class="off-canvas-sidebar">
  <!-- off-screen sidebar -->
  <ul class="nav">
    <li class="nav-item">
      <a href="index.html">The Why</a>
    </li>
    <li class="nav-item">
      <a href="aim.html">The Aim</a>
    </li>
    <li class="nav-item">
      <a href="takeover.html">Project Takeover</a>
    </li>
    <li class="nav-item">
      <a href="join.html">Join</a>
    </li>
    <li class="nav-item">
      <a href="translations.html">Translations</a>
    </li>
    <li class="nav-item">
      <a href="blog.html">Blog Posts</a>
    </li>
    <li class="nav-item">
      <a href="members.html">Members</a>
    </li>
    <!--
    <li class="nav-item active">
      <a href="#">Layout</a>
      <ul class="nav">
        <li class="nav-item">
          <a href="#">Flexbox grid</a>
        </li>
        <li class="nav-item">
          <a href="#">Responsive</a>
        </li>
        <li class="nav-item">
          <a href="#">Navbar</a>
        </li>
        <li class="nav-item">
          <a href="#">Empty states</a>
        </li>
      </ul>
    </li>
    -->
  </ul>
</div>