<div id='takeover'>
    <h3>Request the WG to take over and maintain your plugin or project</h3>
    <p>
        There are some criterias to respect before we can accept the project:
        <ol>
            <li>
                <h6 class="d-inline-block">Usefulness</h6><br>
                The project must be a useful one
            </li>
            <li>
                <h6 class="d-inline-block">Documentation</h6><br>
                The project must documented upto a nice level
            </li>
            <li>
                <h6 class="d-inline-block">Tests</h6><br>
                Tests must have  a high coverage and be easy to run
            </li>
        </ol>
        Then mail to flaskcwg at python.org with the project detail as well as why you want to relinquish the project.
    </p>
</div>