{% extends 'base.html' %}
{% block head %}
  <title>Flask CWG</title>
{% endblock %}
{% block body %}
  <div class="off-canvas">
    <!-- off-screen toggle button -->
    <a class="off-canvas-toggle btn btn-primary bg-dark btn-action" href="#sidebar-id">
      <i class="icon icon-menu"></i>
    </a>
    {% include 'sections/sidebar.html' %}
    <a class="off-canvas-overlay" href="#close"></a>
    <div class="off-canvas-content">
      <!-- off-screen content -->
      <div class="contaner">
        <h1>Flask Community Workgroup</h1>
        {% include 'sections/why.html' %}
        {% include 'sections/aim.html' %}
        {% include 'sections/takeover.html' %}
        {% include 'sections/join.html' %}
        {% include 'sections/posts.html' %}
        {% include 'sections/office.html' %}
        {% include 'sections/github.html' %}
      </div>
    </div>
  </div>
{% endblock %}