{% extends 'base.html' %}
{% set section = 'join' %}
{% block head %}
  <title>Join</title>
{% endblock %}
{% block body %}
  <div id='join'>
        <h3>Join the WG as maintainer</h3>
        <p>
            The project needs volunteers BUT in order to maintain quality, you need to have some great Flask experience. Mail flaskcwg at python.org with a description of your Flask experience. If you want to join for any area else, just a slight intro needed ^^_. In sum when mailing just give what areas from code, education, events or translations you want to help with.
        </p>
    </div>
{% endblock %}