{% extends 'base.html' %}
{% set section = 'members' %}
{% block head %}
  <title>Members</title>
{% endblock %}
{% block body %}
<div id='office'>
    <h3>Members</h3>
    <p>
        <ul>
            <table class="table table-striped table-hover table-scroll">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Code</th>
                      <th>Event</th>
                      <th>Education</th>
                      <th>Translation</th>
                    </tr>
                  </thead>
                  <tbody>
            {% for github_username in info['profiles'] %}
                {% set data = info['profiles'][github_username] %}
                    <tr>
                      <td><a href="/u/{{ github_username }}">{{ data['name'] }}</a></td>
                        {% if 'code' in data['volunteer'] %}
                            <td>o</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if 'event' in data['volunteer'] %}
                            <td>o</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if 'education' in data['volunteer'] %}
                            <td>o</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if 'translation' in data['volunteer'] %}
                            <td>
                                <span class="chip">{{data['volunteer']['translation']['lang']}}</span>
                                {% if 'coordinator' in data['volunteer']['translation']%}
                                    <br>
                                    <span class="chip bg-success">coordinator</span>
                                {% endif %}
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}

                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </ul>
    </p>
</div>
{% endblock %}