{% extends 'base.html' %}
{% set section = 'members' %}
{% block head %}
  <title>{{ data['name'] }}</title>
{% endblock %}
{% block body %}
<style>
    .avatar-founder {
        border:3px solid gold;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
        background: transparent;
    }
</style>
<div class="container">
    <h5 class="text-center">
        <div>
            <figure class="avatar avatar-xl {% if data['founder'] == 'y' %}avatar-founder{% endif %}">
                <img class="s-circle" src="https://avatars.githubusercontent.com/{{ github_username }}" alt="{{ github_username }} avatar {% if data['founder'] == 'y' %}avatar-founder{% endif %}">
                {% if data['retired'] == 'n' %}
                    <i class="avatar-presence online" title="Active"></i>
                {% else %}
                    <i class="avatar-presence away" title="Retired"></i>
                {% endif %}
            </figure>
        </div>
        <b>{{ data['name'] }} (<a href="https://github.com/{{ github_username }}">@{{ github_username }}</a>)</b>
        {% if data['founder'] == 'y' %}
        <span title="Founder"><i style="color: gold; font-size: 19px;vertical-align: middle;" class="im im-star"></i></span>
        {% endif %}
    </h5>
    <hr class="style-two">
    <div class="text-center">
        <h6><b>Bio</b></h6>
        <p>
            {{ info_to_html(data['bio']) }}
        </p>

        <h6><b>Volunteer</b></h6>
        <dl>
            {% for topic in data['volunteer'] %}
                <dd><i>{{topic.capitalize()}}</i>
                    {% if topic == 'translation' %}
                        <br>
                        <div style="font-size: 12px;">
                            <span class="chip">{{data['volunteer']['translation']['lang'].capitalize()}}</span>
                            {% if 'coordinator' in data['volunteer']['translation']%}
                                <span class="chip" style="background-color: gold;">Coordinator</span>
                            {% else %}
                                <span class="chip bg-primary">Member</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>
        <h6><b>Presence</b></h6>
        <p>
            <a href="https://avatars.githubusercontent.com/{{ github_username }}" alt="{{ github_username }}"><i class="img img-github"></i></a>
            {% for presence in data['links'] %}
                <a href="{{ data['links'][presence] }}">{{ presence }}</a><br>
            {% endfor %}
        </p>
    </div>
</div>
{% endblock %}
