{% extends 'base.html' %}
{% set section = 'members' %}
{% block head %}
    <title>FlaskCWG - {{ data['name'] }}</title>
{% endblock %}
{% block body %}

    <style>
        .avatar.avatar-xl{
            height:5rem;
            width:5rem;
            margin-bottom:15px
        }
        .links-column .menu{
            border:None;
            box-shadow:None;
            background:None
        }
        .menu-badge,.url{
            cursor:pointer
        }
        .info-title{
            font-weight:700
        }
        .info-value,.url{
            color:#bcc3ce
        }
        .main-cols>.column{
            padding:.4rem
        }
        .links-column{
            margin-top:.8rem
        }
        .extra-info .divider{
            margin-top:.7rem;
            margin-bottom:.7rem
        }
        .container{
            margin-top:8px;
            margin-bottom:50px
        }
        .main-card{
            padding-top:15px
        }
        #bio{
            margin-top:10px
        }
        .chip-coordinator{
            background-color:gold;
            color:#000
        }
        .chip-member-transl{
            background-color:#87ceeb;
            color:#fff
        }
        .chip-active{
            background-color:#2e8b57;
            color:#fff
        }
        .chip-retired{
            background-color:#8b0000;
            color:#fff
        }
        .avatar-founder{
            border:5px solid gold;
            -webkit-border-radius:500px;
            -moz-border-radius:500px;
            background:0 0
        }
        .main-cols-container{
            background-color:#e2e8f0;
            border-radius:4px;
            padding:15px
        }
        .main-cols-container .panel{
            transition:.8s;
            background-color:#fff;
            box-shadow:0 .05rem .2rem rgba(48,55,66,.2)
        }
        .link-name{
            font-weight:700
        }
    </style>
    <h2 class="text-center titles">User profile</h2>
    <div class="container main-cols-container">
        <div class="columns main-cols">
            <div class="column col-5 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- MAIN CARD -->
                <div class="columns">
                    <div class="column col-12">
                        <div class="panel main-card">
                            <div class="panel-header text-center">
                                    <figure class="avatar avatar-xl {% if data['founder'] == 'y' %}avatar-founder{% endif %}">
                                    <img class="s-circle" src="https://avatars.githubusercontent.com/{{ github_username }}">
                                </figure>
                                <div class="panel-title h5 mt-10">
                                    <b>{{ data['name'] }}</b>
                                </div>
                                <div class="panel-subtitle" id="bio">
                                    {% if len(info_to_html(data['bio'])) %}
                                        {{ info_to_html(data['bio']) }}
                                    {% else %}
                                        {{ github_username }} prefers not to say too much
                                    {% endif %}
                                </div>
                                <div class="panel-footer">
                                    {% if data['founder'] == 'y' %}
                                        <span class="chip chip-coordinator">
                                            Founder
                                        </span>
                                    {% endif %}
                                    {% if data['retired'] == 'n' %}
                                        <span class="chip chip-active">
                                            Active
                                        </span>
                                    {% else %}
                                        <span class="chip chip-retired">
                                            Retired
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if data['links'] %}
                        <div class="column col-12 links-column">
                            <div class="panel">
                                <ul class="menu">
                                    {% for link in data['links'] %}
                                        {% set url = data['links'][link] %}
                                        {% set name = link.capitalize().replace('_', ' ') %}
                                        <li class="menu-item">
                                            <a href="{{ url }}">
                                                <div class="link-name">
                                                    <i class="icon icon-link"></i>&nbsp;
                                                    {{ name }}
                                                </div>
                                                <div class="menu-badge url">
                                                    {{ url }}
                                                </div>
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% else %}
                    <!-- GITHUB PROFILE AS DEFAULT LINK -->
                        <div class="column col-12 links-column">
                            <div class="panel">
                                <ul class="menu">
                                    <li class="menu-item" style="padding-bottom: 8px;">
                                        <a href="https://github.com/{{ github_username }}">
                                            <div class="link-name">
                                                <i class="fa-brands fa-github"></i>&nbsp;
                                                Github
                                            </div>
                                            <div class="menu-badge url" style="padding-bottom: 8px;">
                                                {{ github_username }}
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="column col-7 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel extra-info">
                    <div class="panel-header">
                        <div class="panel-title" align="center"><h4>Volunteer</h4></div>
                    </div>
                    <div class="panel-body">
                        {% for volunteer in data['volunteer'] %}
                            {% if volunteer == 'translation' %}
                                <div class="columns">
                                    <div class="column col-6 info-title">
                                        <i class="fa-solid fa-language"></i>&nbsp;
                                        Translation
                                    </div>
                                    <div class="column col-6">
                                        <span class="chip">
                                            {{data['volunteer']['translation']['lang'].capitalize()}}
                                        </span>
                                        {% if 'coordinator' in data['volunteer']['translation']%}
                                            <span class="chip chip-coordinator">
                                                Coordinator
                                            </span>
                                        {% else %}
                                            <span class="chip chip-member-transl">
                                                Member
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <li class="divider"></li>
                            {% else %}
                                <div class="columns">
                                    <div class="column col-5 info-title">
                                        {% if volunteer == 'event' %}
                                            <i class="fa-solid fa-calendar"></i>&nbsp;
                                            {% elif volunteer == 'code' %}
                                            <i class="fa-solid fa-code"></i>&nbsp;
                                            {% elif volunteer == 'education' %}
                                            <i class="fa-solid fa-graduation-cap"></i>&nbsp;
                                        {% endif %}
                                        {{ volunteer.capitalize() }}
                                    </div>
                                    <div class="column col-7 info-value">
                                        {{ volunteers[volunteer] }}
                                    </div>
                                </div>
                                <li class="divider"></li>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
