{% extends 'base.html' %}
{% set section = 'members' %}
{% block head %}
  <title>{{ data['name'] }}</title>
{% endblock %}
{% block body %}
    <h5><a href="https://github.com/{{ github_username }}">{{ data['name'] }} (@{{ github_username }})</a>
        {% if data['retired'] == 'n' %}
            <span class="chip bg-success">active</span>
        {% else %}
            <span class="chip bg-error">retired</span>
        {% endif %}
    </h5>
    <p class="container">
        <h5>Bio</h5>
        <p>
            {{ bio_to_html(data['bio']) }}
        </p>
        <h5>Volunteer</h5>
        <p>
            {% for topic in data['volunteer'] %}
                <li>{{topic}}
                    {% if topic == 'translation' %}
                        <span class="chip">{{data['volunteer']['translation']['lang']}}</span>
                        {% if 'coordinator' in data['volunteer']['translation']%}
                            <span class="chip bg-success">coordinator</span>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </p>
        <h5>Presence</h5>
        <p>
            {% for presence in data['links'] %}
                <a href="{{ data['links'][presence] }}">{{ presence }}</a><br>
            {% endfor %}
        </p>
    </p>
{% endblock %}