{% extends 'base.html' %}
{% set section = 'takeover' %}
{% block head %}
  <title>Takeover</title>
{% endblock %}
{% block body %}
<div id='takeover'>
    <h2 class="text-center titles">Request WG to take over your plugin or project</h2>
    <p>
        There are some criterias to respect before we can accept the project:
        <ol>
            <li>
                <b>Usefulness</b>
                <ul>
                    <li>The project must be a useful one</li>
                </ul>
            </li>
            <li>
                <b>Documentation</b>
                <ul>
                    <li>The project must documented upto a nice level</li>
                </ul>
            </li>
            <li>
                <b>Tests</b>
                <ul>
                    <li>Tests must have  a high coverage and be easy to run</li>
                </ul>
            </li>
        </ol>
        Then mail to flaskcwg at python.org with the project detail as well as why you want to relinquish the project.
    </p>
</div>
{% endblock %}