{% extends 'base.html' %}
{% set section = 'translations' %}
{% block head %}
  <title>Translations</title>
{% endblock %}
{% block body %}
<style>
    #translations .chip {
        background: #1691C4;
        color: white;
    }
</style>
<div id="translations">
	<h2 class="text-center titles">Translations</h2>
	<h3>Contribute to Flask translation</h3>
	<p>
        The documentation translation workflow is managed through <a href="https://weblate.org/"><b>Weblate</b></a>, a free, web-based translation platform. Below, you will find the corresponding links for each documentation resource.
    </p>
	<h3>Recomendations</h3>
	<ul>
		<li><b>If you use translator</b>
			<ul>
				<li>
				    Avoid inserting the entire content of a file into the translator, as this may lead to issues with code snippets, programming language reserved keywords, special ReStructuredText tags, and similar elements. To ensure accurate and reliable translations, it is recommended to process the content incrementally, translating it paragraph by paragraph or header by header.
                </li>
			</ul>
		</li>
		<li>
			<b>Maintaining the essence</b>
			<ul>
				<li>
                    While the translator performs a significant portion of the work, the resulting translation may occasionally fail to accurately convey the intended meaning of the original resource. It is crucial to review and correct these discrepancies to ensure the original message is preserved.
                </li>
				<li>
                    Avoid changing the names of functions, classes, variables, methods, or other identifiers in the code, as doing so could potentially cause the code to stop functioning correctly.
                </li>
			</ul>
		</li>
	</ul>
	<h3>Flask translations</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Language</th>
                <th>Code</th>
                <th>Progress</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            {% for lang in translations %}
            <tr>
                <td>{{ lang.name }}</td>
                <td>{{ lang.code }}</td>
                <td>{{ lang.translated_percent }}%</td>
                <td>
                    <a target="_blank" href="{{ lang.weblate_url }}" title="Weblate"><i class="fa-solid fa-language" aria-hidden="true"></i></a>
                    &nbsp;
                    <a target="_blank" href="{{ lang.docs_url }}" title="Readthedocs"><i class="fa-solid fa-book" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
