{% extends 'base.html' %}
{% set section = 'translations' %}
{% block head %}
  <title>Translations</title>
{% endblock %}
{% block body %}
  <h1>Translations</h1>
  <h3>Steps to contribute to Flask translation</h3>
  <ol>
    <li>Fork the Flask repository and translates the rst files from <a target="_blank" href="https://github.com/pallets/flask/tree/main/docs/tutorial"><b>Tutorial</a></b>.</li>
    <li>Write us an email and introduce yourself if you would like to be a coordinator of your language, or if you would like to be part of an existing team and contribute to an existing translation.</li>
  </ol>
  <h3>Recomendations</h3>
  <ul>
    <li><b>If you use translator</b>
      <ul>
        <li>
        Do not put the whole content of a file into the translator, this can cause problems with code snippets, reserved words of the programming language, special ReStructuredText tags and so on, the best way is to translate paragraph by paragraph, header by header.</li>
      </ul>
    </li>
    <li>
      <b>Maintaining the essence</b>
      <ul>
        <li>Although the translator does a large part of the work, sometimes the resulting translation does not match the meaning of the original resource. It is important to correct this so that the original meaning is not lost.</li>
        <li>Do not change names of functions, classes, variables methods etc in the codes, it is possible that they will stop working.</li>
      </ul>
    </li>
  </ul>
  <h3>Flask translations</h3>
  <h5><u>Spanish - Español</u></h5>
  <ul>
    <li><b>Coordinator</b></li>
    <ul>
      <li><a target="_blank" href="{{ profile_url(path, 'Jalkhov') }}">Pedro Torcatt (Jalkhov)</a></li>
    </ul>
  </ul>
  <ul>
    <li><b>Sources</b>
      <ul>
        <li><a target="_blank" href="https://flask-doc-spanish.readthedocs.io/es/master">Readthedocs</a></li>
        <li><a target="_blank" href="https://github.com/flaskcwg/flask">Repository</a></li>
      </ul>
    </li>
  </ul>
  <h5><u>Chinese -简体中文</u></h5>
  <ul>
    <li><b>Coordinator</b></li>
    <ul>
      <li><a target="_blank" href="{{ profile_url(path, 'greyli') }}">Grey Li (@greyli)</a></li>
    </ul>
  </ul>
  <p>
    The <a target="_blank" href="https://github.com/flaskcwg/meta/issues/1">translation workflow</a> is under discussion.
    If you are interested to help, please subscribe
    <a target="_blank" href="https://github.com/greyli/helloflask/discussions/239">this discussion</a> for updates. Thank you.
  </p>
{% endblock %}
